In [2]:
import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [3]:
sc=spark.sparkContext

In [5]:
rdd = sc.parallelize([1,2,3,4,5])

# map

In [7]:
rdd_resta = rdd.map(lambda x: x-1)
rdd_resta.collect()

[0, 1, 2, 3, 4]

In [9]:
rdd_par=rdd.map(lambda x: x%2 == 0)
rdd_par.collect()

[False, True, False, True, False]

In [10]:
rdd_texto = sc.parallelize(['Jose', 'Juan', 'Lucila'])

In [11]:
rdd_mayuscula = rdd_texto.map(lambda x: x.upper())
rdd_mayuscula.collect()

['JOSE', 'JUAN', 'LUCILA']

In [13]:
rdd_hola = rdd_texto.map(lambda x: 'Hola '+ x)
rdd_hola.collect()

['Hola Jose', 'Hola Juan', 'Hola Lucila']

# flatMap

In [15]:
rdd_cuadrado = rdd.map(lambda x: (x,x**2))
rdd_cuadrado.collect()

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [17]:
rdd_cuadrado_flat = rdd.flatMap(lambda x: (x,x**2))
rdd_cuadrado_flat.collect()

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

In [22]:
rdd_mayuscula_flat = rdd_texto.flatMap(lambda x: (x, x.upper()))
rdd_mayuscula_flat.collect()

['Jose', 'JOSE', 'Juan', 'JUAN', 'Lucila', 'LUCILA']

# filter

In [24]:
rdd_par = rdd.filter(lambda x: x%2 == 0)
rdd_par.collect()

[2, 4]

In [25]:
rdd_impar = rdd.filter(lambda x: x%2 != 0)
rdd_impar.collect()

[1, 3, 5]

In [27]:
rdd_j = rdd_texto.filter(lambda x: x.startswith('J'))
rdd_j.collect()

['Jose', 'Juan']

In [28]:
rdd_ju = rdd_texto.filter(lambda x: (x.startswith('J') and x.find('u')==1))
rdd_ju.collect()

['Juan']

# coalesce

In [36]:
rdd.getNumPartitions()

12

In [38]:
rdd_5 = rdd.coalesce(5)
rdd_5.getNumPartitions()

5

# repartition

In [39]:
rdd.getNumPartitions()

12

In [43]:
rdd_15 = rdd.repartition(15)
rdd_15.getNumPartitions()

15

In [45]:
rdd_7 = rdd.repartition(7)
rdd_7.getNumPartitions()

7

# reduceByKey

In [48]:
rdd_rbk = sc.parallelize(
    [('casa', 2),
    ('parque', 1),
    ('que', 5),
    ('casa', 1),
    ('escuela', 2),
    ('casa', 1),
    ('que', 1)]
)

In [49]:
rdd_rbk.collect()

[('casa', 2),
 ('parque', 1),
 ('que', 5),
 ('casa', 1),
 ('escuela', 2),
 ('casa', 1),
 ('que', 1)]

In [55]:
rdd_reducido = rdd_rbk.reduceByKey(lambda x,y: x + y)
rdd_reducido.collect()

[('escuela', 2), ('casa', 4), ('parque', 1), ('que', 6)]